      <p class="pull-left footer">Adel Qalieh</p>
      <p class="pull-right footer">CIS 197 | Javascript</p>
    </div>
  </body>
  <footer>
    <script src="/js/vendor/jquery.min.js"></script>
    <script src="/js/vendor/typeahead.bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="/js/index.js"></script>
  </footer>
</html>
