h1 {
  font-size: 2em;
}

.title {
  font-size: 5em;
  text-align: center;
  padding: 1em 0;
  font-weight: 300;
}

h1 a, h1 a:hover {
  color: #006064;
  text-decoration: none;
}

h2 {
    font-size: 42px;
}

h3 {
  margin-top: 5px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #4DB6AC;
}

.container {
  background-color: white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  padding-bottom: 25px;
}

.footer {
  padding-top: 20px;
}

table {
  margin-top: 20px;
}

thead td {
  border-bottom: 2px solid #00695C;
}

#bloodhound {
  margin: 0 auto;
  padding-bottom: 60px;
  width: 400px;
}

.tt-input,
.tt-hint {
    width: 396px;
    height: 50px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-input {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

pre {
  white-space: pre-wrap;
}

.box {
  float: left;
  height: 60px;
  width: 60px;
  margin-right: 10px;
  border-radius: 3px;
  padding-top: 2px;
  text-align: center;
  background: #00BFA5;
  color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.box small {
  font-size: 12px;
  font-weight: 500;
}

.box p {
  font-size: 24px;
}
